[Unit]
Description=LLama-swap container
After=local-fs.target

[Container]
Image=quay.io/wvdschel/llama-swap:latest
PublishPort=9292:8080
AddDevice=/dev/dri
AddDevice=/dev/kfd
Volume=/home/wim/Unison/Code/llama-swap.yaml:/app/config.yaml:z
Volume=/home/wim/.cache/llama.cpp:/cache/llama.cpp:z
User=1000:1000

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
